[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "xray"]
	path = xray
	url = https://github.com/sicarul/xray
	shallow = true
	registered = true
